body {
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;

	font-size: 16px;

	padding-top: 50px;
}


.btn-buy { background-color: #1abc9c; color: #ffffff; }

.btn-buy:hover,
.btn-buy:focus,
.btn-buy:active,
.btn-buy.active,
.open .dropdown-toggle.btn-buy { background-color: #16a085; color: #ffffff; }

#wrapper { clear: both; position: relative; }

.ie7 #container { max-width: 961px; }

/* =Header
-------------------------------------------------------------- */
#themewrap {
	background: #34495e;
	min-height: 500px;
	padding-top: 50px;
	text-align: center;
	width: 100%;
}

#themeswrap {
	-webkit-background-size: cover;
	-webkit-background-size: 100%;
	-o-background-size: cover;
	-o-background-size: 100%;
	-moz-background-size: cover;
	-moz-background-size: 100%;
	background: url(images/themeheader.jpg) no-repeat center top;
	background-attachment: relative;
	background-position: center center;
	background-size: 100%;
	background-size: cover;
	margin-top: 10px;
	min-height: 350px;
	padding-top: 40px;
	text-align: center;
	width: 100%;
}

